#placeholder {
    display: flex;
    justify-content: center;
}

table {
    text-align: center;
    border: 3px solid black;
    height: 500px;
}

th {
    background: red;
    padding: 10px;
}

td {
    width: 60px;
    padding: 15px 10px 15px 10px;
    background-color: lightgray;

}

#notification {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(128, 128, 128);
    padding: 5px 5px 8px 5px;
    border-radius: 25px;
    text-align: center;
    width: 250px;
    height: 15px;
}