h1 {
    margin-left: 15px;
}

img {
    position: relative;
    /*height: 150px;*/
    margin-top: 5px;
    margin-left: 20px;
    height: auto;
    width: 200px;
    /*transform: scale(0.3);*/
}

p {
    margin-left: 10px;
}

@media print {
    div {
        display: flex;
        flex-direction: column;
    }
}