h1 {
    text-align: center;
}

div {
    display: flex;
}

form {
    display: flex;
}
input {
    margin-top: -2px;
    margin-bottom: -2px;
    flex: 2 1;
}

input::placeholder {
    color: green;
}

input:hover {
    color: #af3835;
}

button {
    color: #808080
}

button:hover {
    color: red;
}