img {
    width: 80px;
    height: auto;
}

#gauntlet {
    width: 200px;
    height: auto;
}

#gauntlet:hover + table .odd td:nth-child(odd) {
    opacity: 0;
    /*transition: all 0.5s ease-in-out;*/
}

#gauntlet:hover + table .even td:nth-child(even) {
    opacity: 0;
    /*transition: all 0.5s ease-in-out;*/
}