ul {
    margin: 70px auto;
    padding: 0;
    list-style: none;
}

li {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

li:nth-child(1) {
    background:blue;
}

.cycle li {
    -webkit-animation: shake 7s linear infinite;
    animation: shake 7s linear infinite;
}

.cycle li:hover {
    transition: all 2s ease-in-out;
    background: red;
}

@-webkit-keyframes shake {
    100% {
        -webkit-transform: translateX(100vw);
    }
}

@keyframes shake {
    100% {
        transform: translateX(calc(100vw));
    }
}